/* Sticky Navbar */
.navbar {
    position: sticky; /* Mantiene el header fijo al hacer scroll */
    top: 0; /* Fijo en la parte superior */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Transición suave para efectos */
}

/* Navbar Content */
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1120px;
    margin: 0 auto;
    transition: padding 0.3s ease; /* Transición al cambiar tamaños */
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: font-size 0.3s ease; /* Transición al cambiar tamaños */
    text-decoration: none;
}

/* Navigation Links */
.navbar nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease, font-size 0.3s ease;
    font-weight: 700;
}

.navbar nav a:hover {
    color: #01627D; /* Color de hover profesional */
    font-weight: 700;
}

/* Call-to-Action Button */
.navbar .actions .primary-button {
    text-decoration: none;
    background-color: #01627D ;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar .actions .primary-button:hover {
    background-color: #0f3b48 ;
    transform: scale(1.05); /* Efecto de agrandamiento */
}

.menu-toggle {
    display: none; /* Oculta el ícono del menú por defecto */
}

.icon-mujer, .icon-hombre{
    display: none;
}

/* Responsive Design */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .active{
        padding: 16px;
    }

    .navbar-content {
        align-items: center;
        padding: 1rem;
        justify-content: space-between;
    }

    .navbar nav {
        display: none; /* Oculta el menú por defecto */
        flex-direction: column; /* Cuando se muestre, será una columna */
        width: 100%;
        background-color: #ffffff;
    }

    .navbar nav.show {
        display: flex; /* Muestra el menú al activarse */
        height: 100vh;
    }

    .navbar nav a {
        margin: 0.5rem 0;
        font-size: 1.2rem;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
    }

    .navbar .logo {
        font-size: 1.2rem; /* Reduce el tamaño del logo */
        display: flex;
        justify-content: center;
    }

    .navbar .menu-toggle {
        display: flex; /* Muestra el ícono del menú */
        cursor: pointer;
        font-size: 1.5rem;
        color: #333;
        background: none;
        border: none;
    }

    .menu-toggle-active{
        position: absolute;
        right: 0;
        font-size: 1.5rem;
        color: #333;
        background: none;
        border: none;
    }

    .icon-mujer, .icon-hombre{
        display: block;
    }

}