/* Sticky Navbar */
.navbar {
    position: sticky;
    /* Mantiene el header fijo al hacer scroll */
    top: 0;
    /* Fijo en la parte superior */
    z-index: 1000;
    /* Asegura que esté encima de otros elementos */
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    /* Transición suave para efectos */
}

.navbar-top{
    background-color: #01627D;
    color: #FFFFFF;
    text-align: center;
    padding: 4px 0;
    font-size: 0.9rem;
    font-weight: 500;
}

.navbar-top a {
  color: inherit;          /* Usa el mismo color del texto actual */
  text-decoration: none;   /* Quita el subrayado si no lo quieres */
}

.navbar-top a:hover {
  color: #e1306c;          /* Color de Instagram (opcional) */
}

.navbar-top a:visited {
  color: inherit;          /* Evita el morado del enlace visitado */
}

/* Navbar Content */
.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    max-width: 1120px;
    margin: 0 auto;
    transition: padding 0.3s ease;
    /* Transición al cambiar tamaños */
}

.navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: font-size 0.3s ease;
    /* Transición al cambiar tamaños */
    text-decoration: none;
    height: 60px;
}

.logo img {
    width: 60px;
    height: 60px;
}

/* Navigation Links */
.navbar nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease, font-size 0.3s ease;
    font-weight: 700;
}

.navbar nav a:hover {
    color: #01627D;
    /* Color de hover profesional */
    font-weight: 700;
}

/* Call-to-Action Button */
.actions img {
    width: 60px;
    height: 60px;
}

.navbar .actions .primary-button:hover {
    background-color: #0f3b48;
    transform: scale(1.05);
    /* Efecto de agrandamiento */
}

.menu-toggle {
    display: none;
    /* Oculta el ícono del menú por defecto */
}

.icons-menu {
    display: none;
}

.promotions{
    color: #e11d48 !important;
}

/* Responsive Design */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .active-header {
        padding: 16px;
    }

    .navbar-content {
        align-items: center;
        padding: 8px;
        justify-content: space-between;
    }

    .navbar nav {
        display: none;
        /* Oculta el menú por defecto */
        flex-direction: column;
        /* Cuando se muestre, será una columna */
        width: 100%;
        background-color: #ffffff;
    }

    .navbar nav.show {
        display: flex;
        /* Muestra el menú al activarse */
        height: 100vh;
    }

    .navbar nav a {
        margin: 0.5rem 0;
        font-size: 1.2rem;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .navbar .logo {
        font-size: 1.2rem;
        /* Reduce el tamaño del logo */
        display: flex;
        justify-content: center;
    }

    .navbar .menu-toggle {
        display: flex;
        /* Muestra el ícono del menú */
        cursor: pointer;
        font-size: 30px;
        color: #333;
        background: none;
        border: none;
    }

    .menu-toggle-active-header {
        position: absolute;
        right: 0;
        font-size: 30px;
        color: #333;
        background: none;
        border: none;
    }

    .menu-toggle-active-header .actions img{
        display: none;
    }

    .icons-menu {
        display: block;
        width: 20px;
    }
}