.product-grid {
    max-width: 1120px;
    margin: 0 auto;
}

.product-grid h1 {
    font-size: 2.0rem;
    color: #333;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 1.1rem;
    justify-items: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 350px;
    border-radius: 8px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    min-width: 200px;
    height: 100%;
}

.product-card-inner {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.product-card-inner.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Contenedor de la imagen para que todas sean del mismo tamaño */
.product-card-image {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
}

.product-card-inner h3 {
    font-size: 1.1rem;
    color: #111827;
    font-weight: 400;
    margin: 0;
    text-align: left;
}

.product-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    transition: opacity 0.5s ease-in-out, transform 0.3s ease;
    will-change: opacity, transform;
}


.product-price-grid {
    font-size: 1.1rem;
    color: #e11d48;
    color: black;
    font-weight: 700;
    margin: 0;
}

.product-discount-price-grid {
    font-size: 1.1rem;
    font-weight: bold;
    color: #e11d48;
    margin: 0;
}

.price-strikethrough-grid {
    text-decoration: line-through;
    color: gray !important;
    font-size: 1.0rem !important;
}

.product-card-branch {
    color: #6b7280 !important;
}

.product-card-link {
    text-decoration: none;
}

.product-card-price-container {
    display: flex;  
    flex-direction: column;
    margin-top: 12px;
    margin-bottom: 4px;
    text-align: left;
}

.offer-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e11d48;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 2;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 30px 0;
}

.pagination-container button {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease-in-out;
}

.pagination-container button:hover {
  background-color: #f3f3f3;
}

.pagination-container button.active {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.pagination-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


@media (max-width: 1024px) {
    .product-card {
        max-width: initial;
        min-width: initial;
    }

    .product-card:hover {
        transform: none;
    }

    .grid-container {
        padding: 0 16px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 300px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}