@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-principal {
    max-width: 1120px;
    margin: 0 auto;
    padding: 16px 0;
    text-align: left;
}


.section-container {
  max-width: 1120px;
  margin: 0 auto;
  margin-top: 30px;
}

.section-gender {
  display: flex;
  justify-content: space-between;
}

.heading-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  color: black;
}

.subtitle-section-gender {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  margin-top: 10px;
  font-style: oblique;
}

.admin-panel{
  display: flex;
}

@media (max-width: 1024px) {
  .title-principal {
    padding: 16px;
    font-size: 20px;
  }

  .section-container {
    padding: 0 16px;
  }

  .section-gender {
    flex-direction: column;
  }

  .heading-title {
    font-size: 30px;
    line-height: 30px;
  }

  .subtitle-section-gender {
    font-size: 16px;
    line-height: 16px;
  }
}